{% load static %}

<!DOCTYPE html>

<html>

  <!-- Les meta-donnees -->
  <head>
    <meta charset="utf-8">
    <title>Accueil</title>
    <!--<link rel="stylesheet" href="site.css"> -->
    <link rel="stylesheet" href="{% static 'monappli/site.css' %}">

    <style>  
      table.mon_tableau  {
          border-collapse: collapse;
      }
    </style>
  </head>

    <body>
        <h1>Application pour l'analyse des mails de l'entreprise Enron</h1>
        <p>Bonjour et bienvenu,</p>
        <p>Cette application a pour but de vous aider à exploiter une base de données de mails issus de boîtes mails de 149 employés importants de l'entreprise Enron avant sa faillite.</p>
        <p>Voici la liste des requêtes que vous pouvez faire pour obtenir des informations sur ces mails :</p>
        <p><a href="http://127.0.0.1:7000/Application_Projet/Formulaire1">1. Obtenir des informations sur un employé : ces adresses mail, le nom de sa boîte mail et son rôle dans l'entreprise si renseigné.</a></p>
        <p><a href="http://127.0.0.1:7000/Application_Projet/Formulaire2">2. Nombre de mails envoyés et reçus par employés.</a></p>
        <p><a href="http://127.0.0.1:7000/Application_Projet/Formulaire3">3. Liste des employés avec lesquels un employé a communiqué.</a></p>
        <p><a href="http://127.0.0.1:7000/Application_Projet/Formulaire4">4. Nombre de mails échangés par couple d'employés.</a></p>
        <p><a href="http://127.0.0.1:7000/Application_Projet/Formulaire5">5. Nombre de mails échangés par jour.</a></p>
        <p><a href="http://127.0.0.1:7000/Application_Projet/Formulaire6">6. Rechercher des mails par mots-clés présents dedans.</a></p>
        <p><a href="http://127.0.0.1:7000/Application_Projet/Formulaire7">7. Liste des mails échangés entre deux employés.</a></p>
        

    
    
    </body>
</html>
  
   
