{% load static %}

<!DOCTYPE html>

<html>

  <!-- Les meta-donnees -->
  <head>
    <meta charset="utf-8">
    <title>Le titre</title>
    <!--<link rel="stylesheet" href="site.css"> -->
    <link rel="stylesheet" href="{% static 'monappli/site.css' %}">

    <style>  
      table.mon_tableau  {
          border-collapse: collapse;
      }
    </style>
  </head>

    <body>
        

    <form method="POST" action="req3">{% csrf_token %}
        <div class="rectangle">
            <p>Employé(e) :</p>
            <p>
                Nom : <input type="text" name="nom">
                Prénom : <input type="text" name="prenom">
            </p>
        </div>
        <div class="bouton">
            Liste des employés avec lesquels il ou elle a communiqué :
            <div>Destinataires <input type="radio" name="nature" value="0"></div>
            <div>Expéditeurs <input type="radio" name="nature" value="1"></div>
            <div>Tous <input type="radio" name="nature" value="2"></div>
        </div>
        <p class="rectangle">
            Date de début : <input type="date" name="joura"/>
            Heure de début : <input type="time" name="heurea"/>
        </p>
        <p class="rectangle">
            Date de fin : <input type="date" name="jourb"/>
            Heure de fin: <input type="time" name="heureb"/>
        </p>
        
        <div class="envoi"><input type="submit"></div>
    </form> 
    
    
    </body>
</html>
  
   
