{% load static %}

<!DOCTYPE html>

<html>

  <!-- Les meta-donnees -->
  <head>
    <meta charset="utf-8">
    <title>Requete 2</title>
    <!--<link rel="stylesheet" href="site.css"> -->
    <link rel="stylesheet" href="{% static 'monappli/site.css' %}">

    <style>  
      table.mon_tableau  {
          border-collapse: collapse;
      }
    </style>
  </head>

    <body>
        

    <form method="POST" action="req2">{% csrf_token %}
        <div class="rectangle">
            <p>Nombre de mails :</p>
            <p>
                Envoyés : <input type="checkbox" name="envoyes">
                Reçus : <input type="checkbox" name="recus">
            </p>
            <p>Échanges :</p>
            <p>
                Internes : <input type="checkbox" name="interne">
                Externes : <input type="checkbox" name="externe">
            </p>
        </div>
        <p class="rectangle">
            Date de début : <input type="date" name="joura"/>
            Heure de début : <input type="time" name="heurea"/>
        </p>
        <p class="rectangle">
            Date de fin : <input type="date" name="jourb"/>
            Heure de fin: <input type="time" name="heureb"/>
        </p>
        <p class="rectangle">
            Nombre minimal de mails (compris) : <input type="number" name="minm"/>
        </p>
        <p class="rectangle">
            Nombre maximal de mails (compris aussi, rentrez 0 pour négliger cette limite) : <input type="number" name="maxm"/>
        </p>
        
        <div class="envoi"><input type="submit"></div>
    </form> 
    
    <p><a href="http://127.0.0.1:7000/Application_Projet/Accueil">Revenir à la page d'accueil</a></p>
    
    </body>
</html>
  
   
