<!DOCTYPE html>

<html>

  <!-- Les meta-donnees -->
  <head>
    <meta charset="utf-8">
    <title>Resultat_Requete</title>
    <!--<link rel="stylesheet" href="site.css"> -->

    <style>   
      table.mon_tableau  {
          border-collapse: collapse;
      }
      table.mon_tableau td {
         border: 1px solid #5555;
         padding: 0.3em;
         font-family: "Sans-serif";
         font-size: 12px;
      }
      table.mon_tableau tr:nth-child(even)  {background: #EEE}
      table.mon_tableau tr:nth-child(odd) {background: #FFF}
    </style>
  </head>

  <body> 
    <h1>Résultat de la requête</h1>
    <p>Critères :  {{C}}</p>
    <table class="mon_tableau">
      <tr>
        {% for j in columns %}
        <td>{{j}}</td>
        {% endfor %}
      </tr>
        {% for row in L %}
          <tr>
          {% for j in row %}
            <td>{{j}}</td>
          {% endfor %}
          </tr>
        {% endfor %}
    </table>

    <p><a href="http://127.0.0.1:7000/Application_Projet/Formulaire3">Revenir au formulaire de la requête 3</a></p>
    <p><a href="http://127.0.0.1:7000/Application_Projet/Accueil">Revenir à la page d'accueil</a></p>

  </body>
  
</html>


