{% load static %}

<!DOCTYPE html>

<html>

  <!-- Les meta-donnees -->
  <head>
    <meta charset="utf-8">
    <title>Le titre</title>
    <!--<link rel="stylesheet" href="site.css"> -->
    <link rel="stylesheet" href="{% static 'monappli/site.css' %}">

    <style>  
      table.mon_tableau  {
          border-collapse: collapse;
      }
    </style>
  </head>

    <body>
        

    <form method="POST" action="req1employee">{% csrf_token %}
      <div class="rectangle">
        <p>
            nom : <input type="text" name="nom" />
        </p>
        <p>
            prénom : <input type="text" name="prenom" />
        </p>
      </div>
        <div class="envoi"><input type="submit"></div>
    </form> 
    
    <p><a href="http://127.0.0.1:7000/Application_Projet/Formulaire1">Revenir en arrière</a></p>
    <p><a href="http://127.0.0.1:7000/Application_Projet/Accueil">Revenir à la page d'accueil</a></p>
    
    </body>
</html>
  
   
