{% load static %}

<!DOCTYPE html>

<html>

  <!-- Les meta-donnees -->
  <head>
    <meta charset="utf-8">
    <title>Le titre</title>
    <!--<link rel="stylesheet" href="site.css"> -->
    <link rel="stylesheet" href="{% static 'monappli/site.css' %}">

    <style>  
      table.mon_tableau  {
          border-collapse: collapse;
      }
    </style>
  </head>

    <body>
        

    <form method="POST" action="req1am">{% csrf_token %}
        <p>
            adresse mail : <input type="text" name="adresse" />
        </p>

        <div class="envoi"><input type="submit"></div>
    </form> 
    
    
    </body>
</html>
  
   
